// color palette - these colors will be the color swatches of the Colors section

$licorice: #e64140; // Licorice
$bubblegum: #f37f80; // Bubblegum
$lion: #eaa959; // Lion
$sky: #b4d1c8; // Sky
$denim: #505a6e; // Denim
$trapeze: #c7d3a5; // Trapeze
$mint: #83b09b; // Mint
$emerald: #449375; // Emerald
$elephant: #e6e7e8; // Elephant
$popcorn: #f5f3e6; // Popcorn

// additional colors

$success: $emerald; // Emerald
$alert: $licorice; // Licorice

/****** Colors ******/
