// color palette - these colors will be the color swatches of the Colors section

$licorice: #e64140; // Licorice - red
$bubblegum: #f37f80; // Bubblegum - pink
$lion: #eaa959; // Lion - orange
$sky: #b4d1c8; // Sky - lt blue
$denim: #505a6e; // Denim - dk blue
$trapeze: #c7d3a5; // Trapeze - lt green
$mint: #83b09b; // Mint - mint green
$emerald: #449375; // Emerald - emerald green
$elephant: #e6e7e8; // Elephant - lt grey
$popcorn: #f5f3e6; // Popcorn - cream

// additional colors

$success: $emerald; // Emerald
$alert: $licorice; // Licorice

/****** Colors ******/
