/*This is the container for all of the stuff at the top- CSS Zen garden/ the beauty of CSS/ a demonstration.../ download the example... / the road to enlightenment */
.intro {
  grid-column: 1/4;
  grid-row: 1/1;
}

/*This is the "box" around CSS Zen garden / the beauty of css design*/
header {
  padding: 0.5em;
}

/*This is the text that says- "The Beauty of CSS Design" */
header h2 {
  color: $denim;
  text-align: center;
  margin-top: -20px;
  font-weight: 200;
}

//This is the Banner image
header:after {
    content: url(../../images/flagBannerAsset%2036.svg);
    display: block;
}

//This is the Zen Garden Logo Stuff

header h1 {
display: none;
}

header:before {
    content: url(../../images/ZenNameAsset%2037.svg);
    display: block;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 1.5em;
    margin-top: 2em;
}

/* This is the text that says- "A demonstration of what can be accomplished..." */

.summary p {
  margin-left: 13vw;
  margin-right: 13vw;
  text-align: center;
  color: $denim;
  text-transform: uppercase;
  font-weight: bolder;
  letter-spacing: .2em;
  font-weight: 200;
}

//This is where I am trying to just target the line that starts- "Select any style sheet..." **NOT WORKING- Selects entire section of text
#zen-summary p:nth-child(1){
  
}

//This is targeting the "Download the example html file and css file" line
.summary p:nth-child(2){
 
}

//This is the boxes around the source code
.summary p a:nth-child(1) {
    background-color: $sky;
    padding: .25em;
}

.summary p a:nth-child(2) {
    background-color: $mint;
    padding: .25em;
}

.summary p a{
    text-decoration: none;
    color: white;
}

.summary p a:hover {
  border-radius: 10%;
  padding: 1em;
}

/* This is the section that starts with- "The road to enlightenment.." */
.preamble {
  background-color: $denim;
  width: 100%;
  padding: 1em;
  color: white;
  margin: 0 auto;
  text-align: left;
  /*display: none;*/
}

#zen-preamble h3 {
    text-align: left;
    color: $lion;
    margin: 0;
    width: 100%;
}

div .preamble:nth-child(2) {
    background-color: pink;
}