/*This is the container for all of the stuff at the top- CSS Zen garden/ the beauty of CSS/ a demonstration.../ download the example... / the road to enlightenment */
.intro {
  grid-column: 1/4;
  grid-row: 1/1;
}

/*This is the "box" around CSS Zen garden / the beauty of css design*/
header {
  padding: 0.5em;

  /*This is the text that says- "The Beauty of CSS Design" */
  h2 {
    color: $denim;
    text-align: center;
    margin-top: -20px;
    font-weight: 200;
  }

  //This is the Zen Garden Logo Stuff
  h1 {
    display: none;
  }
}

//This is the Banner image
header:after {
  content: url(../images/flagBannerAsset-36.svg);
  display: block;
}

header:before {
  content: url(../images/ZenNameAsset-37.svg);
  display: block;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 1.5em;
  margin-top: 2em;
}
