/* sidebar navigation styles, variables and mixins */
$colors-list: $licorice, $bubblegum, $lion, $sky, $trapeze, $mint, $emerald,
  $denim;

//loop through colors and assign them to the nav li
@for $i from 1 through length($colors-list) {
  li:nth-of-type(#{length($colors-list)}n + #{$i}) {
    background-color: nth($colors-list, $i);
    padding: 15px;
    margin: 15px;
  }
}

@mixin flagMain() {
  width: 250px;
  height: 20px;
  position: relative;
  text-align: center;
}

//to break the line before "by"
li .design-name:nth-child(1) {
  display: block;
}

ul {
  list-style-type: none;
  color: white;

  li {
    a {
      text-decoration: none;
      color: white;
    }
  }
}

// first thinner bar ***************************************
.design-archives li:nth-child(1),
.zen-resources li:nth-child(1) {
  @include flagMain();
}

.design-archives li:nth-child(1)::after,
.zen-resources li:nth-child(1)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $popcorn;
}

.design-archives li:nth-child(1)::before,
.zen-resources li:nth-child(1)::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  right: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $licorice;
}

// second thin ***************************************
.design-archives li:nth-child(2),
.zen-resources li:nth-child(2) {
  @include flagMain();
}

.design-archives li:nth-child(2)::after,
.zen-resources li:nth-child(2)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $popcorn;
}

.design-archives li:nth-child(2)::before,
.zen-resources li:nth-child(2)::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  right: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $bubblegum;
}

// third thin ***************************************
.zen-resources li:nth-child(3) {
  @include flagMain();
}

.zen-resources li:nth-child(3)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $popcorn;
}

.zen-resources li:nth-child(3)::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  right: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $lion;
}

// fourth thin ***************************************
.zen-resources li:nth-child(4) {
  @include flagMain();
}

.zen-resources li:nth-child(4)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $popcorn;
}

.zen-resources li:nth-child(4)::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  right: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $sky;
}

// fifth thin ***************************************
.zen-resources li:nth-child(5) {
  @include flagMain();
  margin-bottom: 35px;
}

.zen-resources li:nth-child(5)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $popcorn;
}
.zen-resources li:nth-child(5)::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  right: -25px;
  border-top: 25px solid transparent;
  border-bottom: 25px solid transparent;
  border-left: 25px solid $trapeze;
}

// 1 thicker bar ***************************************
.design-selection li:nth-child(1) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(1)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(1)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 25px solid $licorice;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

// 2 thicker bar ***************************************
.design-selection li:nth-child(2) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(2)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(2)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $bubblegum;
}

// 3 thicker bar ***************************************
.design-selection li:nth-child(3) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(3)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(3)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $lion;
}

// 4 thicker bar ***************************************
.design-selection li:nth-child(4) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(4)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(4)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $sky;
}

// 5 thicker bar ***************************************
.design-selection li:nth-child(5) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(5)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(5)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $trapeze;
}

// 6 thicker bar ***************************************
.design-selection li:nth-child(6) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(6)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 35px solid $popcorn;
}

.design-selection li:nth-child(6)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $mint;
}

// 7 thicker bar ***************************************
.design-selection li:nth-child(7) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(7)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(7)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $emerald;
}

// 8 thicker bar ***************************************
.design-selection li:nth-child(8) {
  width: 250px;
  height: 40px;
  position: relative;
  text-align: center;
}

.design-selection li:nth-child(8)::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 35px solid $popcorn;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
}

.design-selection li:nth-child(8)::before {
  content: '';
  position: absolute;
  right: -25px;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 35px solid transparent;
  border-bottom: 35px solid transparent;
  border-left: 25px solid $denim;
}

.sidebar a:hover{
  text-decoration: underline;
}
