/* This is the section that starts with- "The road to enlightenment.." */
.preamble {
  text-align: center;
}

#zen-preamble h3:hover:after {
  content: url(../images/popUpDesktopAsset-11.png);
  transition: ease;
  display: block;
  position: absolute;
  left: 3vw;
  right: 3vw;
  cursor: pointer;
  z-index: 15;
}

#zen-preamble h3 {
  text-align: center;
  color: $bubblegum;
  margin: 0;
  width: 100%;
  font-size: 1em;
}

.preamble p {
  display: none;
}
