/*MOBILE VIEW*/
@media (max-width: 650px) {
  /*This is the "nav" section that starts "Select a Design / Archives / Resources" */
  .sidebar {
    grid-column: 2/3;
    grid-row: 3/2;
    border: 2px solid $denim;
    background-color: $popcorn;
    padding-bottom: 0.5em;
  }

  /*This wraps the entire page*/
  .page-wrapper {
    display: inline;
    grid-gap: 10px;
    grid-template-columns: 1fr, 1fr 1fr 1fr;
    grid-template-rows: 100px, 1fr 1fr 1fr, 1fr;
  }

  /*This scoots the "a demonstration.... paragraph up a bit... Needed?*/
  p {
    margin-top: 0;
    text-align: justify;
  }

  /*This is the mobile view footer*/
  footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    padding: 0.55em;
    margin-top: 1em;
  }
  footer a {
    font-size: 0.75em;
  }

  footer:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #edece6;
    position: absolute;
    left: 0;
    top: 0;
  }
  footer a:hover {
    font-size: 0.75em;
  }

  //This is targeting the "Download the example html file and css file" line
  .summary p:nth-child(2) {
    font-size: 0.5em;
  }

  //This is the boxes around the source code
  .summary p a:nth-child(1) {
    background-color: $sky;
    padding: 0.5em;
  }

  .summary p a:nth-child(2) {
    background-color: $mint;
    padding: 0.5em;
  }

  .summary p a {
    text-decoration: none;
    color: white;
  }
  .summary p a:hover {
    outline: $lion dotted 0.85vw;
    outline-offset: 0.1em;
  }

  #zen-preamble h3:hover:after {
    content: url(/images/popupMobileAsset-12.png);
    transition: ease;
    display: block;
    position: absolute;
    left: 3vw;
    right: 3vw;
  }
}
